@using Transportsystem_GoogleMaps.Models
@model Transportsystem_GoogleMaps.ViewModels.PackageFormViewModel
@{
    ViewBag.Title = "PackageForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PackageForm</h2>
@using (Html.BeginForm("Save", "Package"))
{
    @Html.ValidationSummary(true, "Please fix the following errors")
    <div class="form-group">
        @Html.LabelFor(p => p.Content)
        @Html.TextBoxFor(p => p.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Content)
        @ViewBag.error
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Destination)
        @Html.TextBoxFor(p => p.Destination, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Destination)
        @Html.ValidationMessage("error_msg")
    </div>

    <div class="form-group">
        @{
            var selectList = new SelectList(
                new List<SelectListItem>
                {
                    new SelectListItem {Text = "Delivered", Value = "Delivered"},
                    new SelectListItem {Text = "Undelivered", Value = "Undelivered"},
                }, "Value", "Text");

            @Html.LabelFor(p => p.Status)
            @Html.DropDownListFor(p => p.Status,
                @selectList
                )
        }

    </div>
        @Html.HiddenFor(p => p.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>

        }

        @*<script>*@

            @*function changeDeliveryType(type) {
                p.status = type;
            }

        </script>*@

        @*<button onclick="savePackage()">Log</button>*@


        @*//  function savePackage() {

               // var content = document.getElementById("Content").value;
               // var destination = document.getElementById("Destination").value;


              //  console.log(content + "        " + destination);

            //    $.ajax({
            //        url: '/api/Package',
            //        type: 'POST',
            //        dataType: 'json',
            //        contentType: 'application/json; charset=utf-8',
            //        data: JSON.stringify(Login),
            //        success: function (data) {
            //            alert("Saved successfully");
            //        }
            //    });
            //}*@

        @*</script>*@

        @section scripts
{
            @Scripts.Render("~/bundles/jqueryval")
        }




