<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Beste Maps", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Packages", "Index", "Package")</li>
                <li>@Html.ActionLink("Drivers", "Index", "Driver")</li>
                <li>@Html.ActionLink("Deliveries", "Deliveries", "Delivery")</li>
            </ul>
			@Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
